<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        
        link(rel="stylesheet", href="css/fonts/fonts.css")
        link(rel="stylesheet", href="css/main.css")
        
        title Band
    body
        header
            .job-title
                .fname: p BRANDON
                .lname: p MAYERS
                .job: p COMPOSER

        section#home
            nav
                ul
                    li: a.active(href="") Home
                    li: a(href="") Music
                    li: a(href="") FreshNews
                    li: a(href="") Links
                    li: a(href="") Contact
            
            .posts
                .post
                    .big-title: p The songs
                    .title: p That are born in my soul

                    .desc
                        p| Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                         | sed do eiusmod tempor incididunt ut labore et 
                         | dolore magna aliqua.
                        p.noimp| Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                         | sed do eiusmod tempor incididunt ut labore et 
                         | dolore magna aliqua.
                        
                    .action.btn.main
                        a(href="#") Read More
            
            .cards
                .card
                    .hdr
                        .title: p Useful info
                        .num: p 01
                    .content
                        .info 
                            p |Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                              |sed do eiusmod tempor incididunt ut labore et dolore 
                              |magna aliqua.
                            p.noimp |Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                              |sed do eiusmod tempor incididunt ut labore et dolore 
                              |magna aliqua.
                    
                        .action.btn.main
                            a(href="#") Read More
                    
                .card
                    .hdr
                        .title: p Fresh Photos
                        .num: p 02
                    .content
                        
                        .pic.fw: img(src="img/guitar_close1.jpg", alt="pic")
                        .desc: p Lorem ipsum dolor
                        
                        .action.btn.main
                            a(href="#") View All
                    
                .card
                    .hdr
                        .title: p Popular Music
                        .num: p 03
                    .content
                        .song-list
                            ul
                                li: a(href="#").active Song 1
                                li: a(href="#") Song 2
                                li: a(href="#") Song 3
                                li: a(href="#") Song 4
                                li: a(href="#") Song 5
                                li: a(href="#") Song 6
                                li: a(href="#") Song 7
        
        section#albums
            .title: p Albums
            .desc: p Lorem ipsum dolor sit amet, consectetur adipisicing elit.

            .albums
                .album
                    .pic.fw
                        img(src="img/guitar_close1.jpg", alt="pic")
                    .album-name
                        p album 1
                    .action.btn.sec
                        a(href="#") Listen
                .album
                    .pic.fw
                        img(src="img/guitar_close1.jpg", alt="pic")
                    .album-name
                        p album 2
                    .action.btn.sec
                        a(href="#") Listen
                .album
                    .pic.fw
                        img(src="img/guitar_close1.jpg", alt="pic")
                    .album-name
                        p album 3
                    .action.btn.sec
                        a(href="#") Listen
                .album
                    .pic.fw
                        img(src="img/guitar_close1.jpg", alt="pic")
                    .album-name
                        p album 4
                    .action.btn.sec
                        a(href="#") Listen
                .album
                    .pic.fw
                        img(src="img/guitar_close1.jpg", alt="pic")
                    .album-name
                        p album 5
                    .action.btn.sec
                        a(href="#") Listen
                .album
                    .pic.fw
                        img(src="img/guitar_close1.jpg", alt="pic")
                    .album-name
                        p album 6
                    .action.btn.sec
                        a(href="#") Listen

        section#news

            .title: p News & Events
            .news
                .new
                    .date
                        .day: p 25
                        .month: p March
                    .content
                        p|Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                         |sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    
                .new
                    .date
                        .day: p 23
                        .month: p March
                    .content
                        p|Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                         |sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    
                .new
                    .date
                        .day: p 22
                        .month: p March
                    .content
                        p|Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                         |sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            
            .action.btn.sec
                a(href="") Resirve a Ticket

        section#vidbg

            .title: p Video Background
            .desc
                p|Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                 |eiusmod tempor incididunt ut labore et dolore magna aliqua.
            .action.btn.main
                a(href="") View More

        section#info
            .title: p My Bio
            .desc: p Lorem ipsum dolor sit amet

            .carriers
                .carrier
                    .date: p 2009 - 2015
                    .info: p|Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                            |sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                
                .carrier
                    .date: p 2003 - 2009
                    .info: p|Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                            |sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

        footer
            .address: p|20 North Schoolhouse Lane <br>
                       |Staten Island, NY 10312
            .credits
                p &copy; 2015
                span.hsep
                a(href="") privacy policy

            .socials
                .social
                    a(href="#fb")
                        i
                .social
                    a(href="#tw")
                        i
                .social
                    a(href="#gp")
                        i
                .social
                    a(href="#music")
                        i
                .social
                    a(href="#disc")
                        i

            .go-up
                .action.btn.cir
                    button: i
